extend layouts/default

block content
  .container
    .row
      .col-xs-12
        .panel.mb4
          .panel-heading
            h2.panel-title Our Blog
            .panel-addon
              select.form-control
                option(value="1") Select Category
                option(value="1") Category 1
                option(value="1") Category 2
                option(value="1") Category 3
          .panel-body
            ol.site-breadcrumb.mb4
              li: a(href="#") Home
              li: a(href="#") Blog
              li.active Lorem ipsum dolor sit.
              
            article
              .frame.mb1
                .frame-link: img(src="http://placehold.it/710x480", alt="#{i++}")
                
              .post.post--a.mb4
                .l-flex-alpha
                  .text-small
                    a(href="#") Fashion 
                    span.text-light by 
                    a(href="#") Aleks Tomson
                  .text-small
                    a(href="#").mr1
                      i.fa.fa-comment-o
                      span.text-light  29
                      
                    a(href="#")
                      i.fa.fa-heart-o
                      span.text-light  47
                
                h1.text-large Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                
                p
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi natus, dignissimos veritatis aperiam rem omnis cupiditate dolores dolorem. Dolores atque vel, inventore quos quasi alias repellendus temporibus omnis debitis, odit eius, expedita.
                p
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed eplicabo dolorum aliquid facere.
                figure
                  img(src="http://placehold.it/710x480", alt="#")
                  figcaption
                    p Lorem ipsum dolor sit.
                p
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi natus, recusandae nemo adipisci perspiciatis nostrum qui assumenda mollitia voluptatibus. Sint in illo repellat nesciunt repellendus fuga quasi esse ipsam, animi dolores ullam non magnam sapiente rerum voluptates culpa facilis iusto.
                blockquote
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, expedita, aut. Temporibus, sit, animi.
                  cite Ricardo Kaka
                p
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit suscipit, ad facilis.
                p
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum ut placeat et sequi dolorem molestias, dignissimos eligendi iste quia asperiores delectus. Voluptatibus magnam vel quidem tempore sequi officiis dolore quaerat aut ipsum totam consequuntur, quos fugiat ducimus nulla illo nesciunt voluptates nobis qui inventore cupiditate molestiae possimus quo, natus? Reprehenderit ipsum, hic velit dignissimos earum, quaerat.
                p
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat nam eum ex, doloribus cupiditate commodi voluptatem voluptatum accusamus placeat nemo, quibusdam velit magnam dolorem ipsum explicabo ducimus amet! Ipsum laborum, consequatur harum! Id voluptatem similique impedit qui nobis. Sunt est pariatur dicta et optio maiores soluta aliquam veniam!
                  
                .post__ribbon
                  time.datetime(datetime="07-15-1991")
                    | 15<sup>th</sup> <span class="text-small">July</span>
                
                .mt4
                  .l-flex-alpha
                    ul.list-inline
                      li: a.btn-tag(href="#") Fashion
                      li: a.btn-tag(href="#") Life style
                      li: a.btn-tag(href="#") Food
                      
                    ul.list-inline.social-list.social-list--gray
                      li
                        span Share
                      li
                        a(href="#", target="_blank"): i.fa.fa-twitter
                      li
                        a(href="#", target="_blank"): i.fa.fa-facebook
                      li
                        a(href="#", target="_blank"): i.fa.fa-google-plus
              
              .l-flex-alpha
                div
                  a.btn(href="#") Prev Post
                div
                  a.btn(href="#") Next Post
    
    .row
      .col-xs-12
        .panel.mb4
          .panel-heading
            h2.panel-title Related Posts
          .panel-body
            .row
              - var i = 1
              while i < 5
                .col-md-3.col-sm-6.mb2
                  .frame
                    a.frame-link(href="#"): img(src="http://placehold.it/255x175", alt="#{i++}")
                  
                  p: a.text-p-color(href="#") Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  
                  p.text-light.text-small.mb1
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis fugit velit pariatur atque asperiores similique quidem enim, quisquam...
                    
                  .l-flex-alphak
                    .text-small
                      a(href="#") Family
                      span.text-light  by 
                      a(href="#") Aleks Tomson
                    .text-small.mb2
                      a(href="#").mr1
                        i.fa.fa-comment-o
                        span.text-light  29
                        
                      a(href="#")
                        i.fa.fa-heart-o
                        span.text-light  47
                    
                  a.btn(href="#") Learn more

    .row
      .col-xs-12
        .panel.mb4
          .panel-heading
            h2.panel-title Comments
          .panel-body
            ul.media
              li
                .media__item
                  .media__left-side
                    .frame
                      a.frame-link.frame--circle(href="#"): img(src="http://placehold.it/70x70", alt="#{i++}")
                      
                  .media__right-side
                    .mb1
                      time.text-small.text-light.text-special(datetime="")
                        | 15:30 - 19<sup>th</sup> January
                    p.mb1
                      | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, laborum amet quibusdam enim praesentium reiciendis, placeat iusto quas voluptatem saepe aut modi rem error, ab eveniet, quam recusandae veritatis dolore porro id doloremque neque.
                      
                    .l-flex-alpha.text-small
                      div
                        | <span class="text-light">By</span> <a href="#">John Doe</a>
                      a(href="#")
                        i.fa.fa-reply
                        |  Reply
                      
                ul
                  li
                    .media__item
                      .media__left-side
                        .frame
                          a.frame-link.frame--circle(href="#"): img(src="http://placehold.it/70x70", alt="#{i++}")
                          
                      .media__right-side
                        .mb1
                          time.text-small.text-light.text-special(datetime="")
                            | 15:30 - 19<sup>th</sup> January
                        p.mb1
                          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae perspiciatis repellat voluptatum?
                          
                        .l-flex-alpha.text-small
                          div
                            | <span class="text-light">By</span> <a href="#">John Doe</a>
                          a(href="#")
                            i.fa.fa-reply
                            |  Reply
                  li
                    .media__item
                      .media__left-side
                        .frame
                          a.frame-link.frame--circle(href="#"): img(src="http://placehold.it/70x70", alt="#{i++}")
                          
                      .media__right-side
                        .mb1
                          time.text-small.text-light.text-special(datetime="")
                            | 15:30 - 19<sup>th</sup> January
                        p.mb1
                          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia reiciendis, laborum debitis. Voluptates enim voluptatem tenetur eligendi facilis, voluptatum eum! Nam, ea!
                          
                        .l-flex-alpha.text-small
                          div
                            | <span class="text-light">By</span> <a href="#">John Doe</a>
                          a(href="#")
                            i.fa.fa-reply
                            |  Reply
                            
              li
                .media__item
                  .media__left-side
                    .frame
                      a.frame-link.frame--circle(href="#"): img(src="http://placehold.it/70x70", alt="#{i++}")
                      
                  .media__right-side
                    .mb1
                      time.text-small.text-light.text-special(datetime="")
                        | 15:30 - 19<sup>th</sup> January
                    p.mb1
                      | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis voluptatibus, suscipit nostrum iste distinctio quia officiis quibusdam deserunt consectetur optio totam obcaecati esse culpa maxime reiciendis, repellat possimus ad! Tempore, optio, consectetur.
                      
                    .l-flex-alpha.text-small
                      div
                        | <span class="text-light">By</span> <a href="#">John Doe</a>
                      a(href="#")
                        i.fa.fa-reply
                        |  Reply              
    
    .row
      .col-md-8
        .panel.mb4
          .panel-heading
            h2.panel-title Leave Your Comments
          .panel-body
            form(action="/")
              .mb2
                span.text-link: i.fa.fa-asterisk
                |  - required fields.
              .row
                .col-md-6
                  .mb1
                    label.sr-only(for="commentName") Name
                    input.form-control#commentName(type="search", placeholder="Name *")
                .col-md-6
                  .mb1
                    label.sr-only(for="commentEmail") Email
                    input.form-control#commentEmail(type="search", placeholder="Email *")
                .col-md-12
                  .mb2
                    textarea.form-control(placeholder="Your message *", rows="6")
              button.btn(type="submit") Submit
        
      .col-md-4
        .panel.mb4
          .panel-heading
            h2.panel-title Social Media
          .panel-body
            include includes/social-list.jade
